<!-- <div *ngIf="loading" class="mt-2 row alert alert-info">
    Loading Users...
    <div class="spinner-border text-primary">
        <span class="sr-only"></span>
    </div>
</div> -->

<div *ngIf="userList.length">
    <table class="table table-striped">
        <thead>
            <th scope="col">
                <button
                    class="btn btn-small bg-primary text-white"
                    (click)="toggleSort('username')"
                ><strong>Username</strong>
                </button>
            </th>
            <th scope="col">
                <button
                    class="btn btn-small bg-primary text-white"
                    (click)="toggleSort('name')"
                ><strong>Firstname</strong>
                </button>
            </th>
            <th scope="col">
                <button
                    class="btn btn-small bg-primary text-white"
                    (click)="toggleSort('surname')"
                ><strong>Lastname</strong>
                </button>
            </th>
            <th scope="col">
                E-mail
            </th>
            <th scope="col">
                Address
            </th>
            <th scope="col">
                Phone
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.surname }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.address.area }} <br>
                    {{ user.address.road }}
                </td>
                <td>
                    <div *ngFor="let phone of user.phone">
                        <strong>{{ phone.type }}</strong>
                        <br>
                        {{phone.number}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>